#!/bin/bash -e


# Valiables
# -----------------------------------------------

SETUP_NAME="kvm-demo-qt"

MACHINE="raspberrypi4"
TARGET="agl-kvm-demo-platform"
FEATURES="agl-demo agl-devel agl-kvm"
BRANCH="master"
MANIFEST="quillback_16.93.0.xml"
LOCAL_CONF_SETTINGS='
IMAGE_INSTALL:append = " evtest"

GUEST_VM1_IMAGE = "agl-demo-platform"

AGL_EXTRA_IMAGE_FSTYPES:append = " ext4"
'
BBLAYERS_CONF_SETTINGS='
BBLAYERS =+ "/home/ubuntu/workspace/build/kvm-demo-qt/meta-local"
'
CACHE_SHARED=false
