#!/bin/bash -e


# Valiables
# -----------------------------------------------

SETUP_NAME="ivi-demo-qt"

MACHINE="virtio-aarch64"
TARGET="agl-ivi-demo-platform"
FEATURES="agl-demo"
BRANCH="master"
MANIFEST="quillback_16.93.0.xml"
LOCAL_CONF_SETTINGS='
'
BBLAYERS_CONF_SETTINGS='
'
CACHE_SHARED=true
